:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-color: #2196f3;
  --primary-bg-color: #fff;
}
body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
}

ul {
  list-style: none;
}

/* Шапка */
.logo {
}

/* Навигация */

.site-nav .site-link {
  color: var(--secondary-text-color);
}

.site-nav .site-link:hover,
.site-nav .site-link:focus {
  color: var(--accent-color);
}
.site-nav .current {
  color: var(--accent-color);
}

/* Contact */

.contact .contact-link {
  color: var(--primary-text-color);
}
.contact .contact-link:hover,
.contact .contact-link:focus {
  color: var(--accent-color);
}

/* Hero */
.hero-title {
  color: var(--primary-bg-color);
}

/* Section */

.section .section-title {
  color: var(--secondary-text-color);
}
.subtitle {
  color: var(--secondary-text-color);
}
/* Button */
.button {
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
}
